/* SEPARATOR */
.horizontal-line {
  background-color: var(--border);
  width: 0.25rem;
  height: 100%;
}

/* FORM BASE */
form {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

/* FORM INPUTS */
select,
input {
  width: 100%;
  min-width: 40px;
  appearance: none;
  background-color: var(--background-input);
  color: var(--foreground-muted);
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid var(--input-border);
  cursor: pointer;

  &::placeholder {
    color: var(--foreground-muted);
  }
  &:valid {
    color: var(--foreground);
  }
  &:focus {
    outline: 1px solid var(--input-border);
  }
  &:disabled {
    background-color: var(--background-input-disabled);
  }
}

/* FORM ERROR MESSAGES */
.errors-form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.error-form-message {
  color: red;
}

/* BUTTONS */
button {
  padding: 0.5rem;
  border-radius: 0.25rem;
  cursor: pointer;
  border: none;
  font-weight: 600;
}

.button-primary {
  background-color: var(--background-navbar);
  color: var(--foreground-navbar);
}
.button-secondary {
  background-color: var(--background-input);
  color: var(--foreground-muted);
}

/* TABLE COMPONENT */
table {
  height: 100%;
  border-collapse: collapse;
  color: var(--foreground);

  /* ROWS */
  th,
  td {
    height: 2.5rem;
    padding: 0.25rem;
    text-align: left;
  }

  /* BORDERS */
  th:not(:first-child),
  td:not(:first-child) {
    border-left: 2px solid var(--border);
  }
  tr:not(:last-child) td,
  tr th {
    border-bottom: 2px solid var(--border);
  }
  tr:last-child {
    height: 100%;
  }

  tbody {
    /* ACTION DELETE BUTTON */
    & .action-delete,
    & .action-view {
      visibility: hidden;
    }

    & > tr:hover .action-delete,
    & > tr:hover .action-view {
      visibility: visible;
    }
  }
}
