:root {
  /* PRIMITIVE COLORS */
  --blue: #424874;
  --gray: #dcd6f7;
  --light: #faf5fa;
  --dark: #020122;

  /* SEMANTIC COLORS */
  --background: var(--light);
  --background-navbar: var(--blue);
  --background-input: var(--gray);
  --foreground: var(--dark);
  --foreground-navbar: var(--gray);
  --foreground-muted: var(--blue);
  --button: var(--blue);
  --button-cancel: var(--gray);
  --border: var(--gray);
  --border-button: var(--dark);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.75em 0;
}

h3 {
  font-size: 1.17em;
  margin: 0.83em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.5em 0;
}

h6 {
  font-size: 0.75em;
  margin: 1.67em 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

a {
  text-decoration: none;
  color: var(--foreground);
}
