header {
  background-color: var(--background-navbar);
  color: var(--foreground-navbar);
  height: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 2rem;
  gap: 3rem;
}

nav > ul {
  list-style-type: none;
  display: flex;
  gap: 1rem;

  & a {
    color: var(--foreground-navbar);
    font-weight: 600;
    font-size: 1.25rem;
  }
}
